
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent; /* Remove o quadrado cinza ao clicar no iPhone */
}

body {
  /* Evita que o rebote do scroll (overscroll) quebre o fundo */
  overscroll-behavior-y: none;
  -webkit-font-smoothing: antialiased;
}