
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent; /* Remove o quadrado cinza ao clicar no iPhone */
}

body {
  background-attachment: fixed; /* Isso mantém a imagem de papel parada enquanto o conteúdo desliza */
  background-color: #f8fafc; /* Um fallback sólido ajuda na percepção de velocidade */
  -webkit-overflow-scrolling: touch; /* Melhora o scroll no iOS antigo */
}